* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: 0;
  font-family: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::-moz-selection {
  color: #5460f1;
  background: #fff;
}

::selection {
  color: #5460f1;
  background: #fff;
}

#clicker,
#clicker2 {
  display: none;
}

#fbalert > div {
  margin-left: 25px;
}

#fbalert {
  background-color: white;
  padding: 5px;
}

#spinner {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  min-height: 320px;
}

#spinner img {
  position: absolute;
  margin: 0 auto;
}

#spinBG {
  z-index: 1;
}

#spin {
  -webkit-transform: rotate(-131deg);
  -ms-transform: rotate(-131deg);
  transform: rotate(-131deg);
  z-index: 2;
}

#win,
#win2,
#win3,
#winP,
#winP1,
#winP2 {
  position: absolute;
  z-index: 3;
  width: 90px;
  left: 50%;
  top: 50%;
  margin: -55px 0 0 -50px !important;
}

#win {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 !important;
}

#win2,
#win3,
#winP,
#winP1,
#winP2 {
  display: none;
}

#prize {
  z-index: 4;
  width: 120px;
  left: 50%;
  top: 50%;
  margin: -140px 0 0 -65px !important;
  position: absolute;
  display: none;
}

.spinAround {
  -webkit-animation: spin 6600ms;
  animation: spin 6600ms;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  /*FF 5+*/
  /*Not implemented yet*/
  /*IE 10+*/
  animation-fill-mode: forwards;
  /*when the spec is finished*/
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(-131deg);
    -ms-transform: rotate(-131deg);
    transform: rotate(-131deg);
    -moz-transform: rotate(-131deg);
  }

  90% {
    -webkit-transform: rotate(3110deg);
    -ms-transform: rotate(3110deg);
    transform: rotate(3110deg);
    -moz-transform: rotate(3110deg);
  }

  95% {
    -webkit-transform: rotate(3108deg);
    -ms-transform: rotate(3108deg);
    transform: rotate(3108deg);
    -moz-transform: rotate(3108deg);
  }

  100% {
    -webkit-transform: rotate(3109deg);
    -ms-transform: rotate(3109deg);
    transform: rotate(3109deg);
    -moz-transform: rotate(3109deg);
  }
}

.spinAround2 {
  -webkit-animation: spinTwo 6600ms;
  animation: spinTwo 6600ms;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  /*FF 5+*/
  /*Not implemented yet*/
  /*IE 10+*/
  animation-fill-mode: forwards;
  /*when the spec is finished*/
}

@-webkit-keyframes spinTwo {
  0% {
    -webkit-transform: rotate(3109deg);
    -ms-transform: rotate(3109deg);
    transform: rotate(3109deg);
    -moz-transform: rotate(3109deg);
  }

  90% {
    -webkit-transform: rotate(6385deg);
    -ms-transform: rotate(6385deg);
    transform: rotate(6385deg);
    -moz-transform: rotate(6385deg);
  }

  95% {
    -webkit-transform: rotate(6383deg);
    -ms-transform: rotate(6383deg);
    transform: rotate(6383deg);
    -moz-transform: rotate(6383deg);
  }

  100% {
    -webkit-transform: rotate(6384deg);
    -ms-transform: rotate(6384deg);
    transform: rotate(6384deg);
    -moz-transform: rotate(6384deg);
  }
}

.Op {
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

body > center > p {
  font-size: 0.4em;
  background-color: white;
  width: 90%;
}

body > header > h1 > img {
  margin-right: 15px;
  margin-top: 0px;
  position: absolute;
}

body > p > img {
  width: 26px;
  background-color: white;
  margin-left: 10px;
  position: absolute;
}

pre {
  font-family: inherit;
  font-size: inherit;
}

[hidden] {
  display: none !important;
}

.header {
  background-color: #3b5998;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

#fblogo {
  margin-left: 5px;
  position: absolute;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  outline: 0;
  z-index: 1072;
  -webkit-transition: visibility, .3s ease-in-out, opacity .3s ease-in-out;
  transition: visibility, .3s ease-in-out, opacity .3s ease-in-out;
}

.modal__dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform .3s ease-in-out .15s;
  transition: -webkit-transform .3s ease-in-out .15s;
  transition: transform .3s ease-in-out .15s;
  transition: transform .3s ease-in-out .15s, -webkit-transform .3s ease-in-out .15s;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal.show .modal__dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal__title {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: .75rem;
}

.modal__text + .modal__text {
  margin-top: 1rem;
}

.modal__content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  -webkit-box-shadow: 0 9px 21px rgba(0, 0, 0, 0.2);
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.2);
}

.modal__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal__close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal__close:hover svg path {
  fill: rgba(128, 128, 128, 0.85);
}

.modal__close svg path {
  fill: grey;
  -webkit-transition: fill .15s ease-in-out;
  transition: fill .15s ease-in-out;
}

.modal__body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal__footer .btn {
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 16px;
  border: 1px solid #e9ecef;
  background-color: green;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.modal__footer .btn:hover {
  opacity: .85;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.card .title {
  text-align: center;
  margin-bottom: .5rem;
}

.comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: .5rem;
}

.comment + .comment {
  border-top: 1px solid #e9ecef;
}

.comment__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem 0 0;
  width: 60px;
  height: 60px;
}

.comment__media img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.comment__flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.comment__angle {
  background-color: transparent;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.open .comment__angle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.comment__body {
  margin-top: .5rem;
}

.comment__body .comment {
  margin-top: .5rem;
  margin-left: 4.5rem;
}

.comment__title {
  margin-bottom: .25rem;
  color: #000;
}

.comment__text {
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 14px;
}

.comment__date {
  font-size: 12px;
  color: #ADB2BB;
}

.post-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.post-options__item + .post-options__item {
  margin-left: 20px;
}

.post-options__link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  color: #AFB4BD;
}

.post-options__link span {
  margin-left: 5px;
}

@media screen and (min-width: 576px) {
  .modal__dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}

@media screen and (max-width: 767px) {
  .comment__media {
    width: 40px;
    height: 40px;
  }
}